.country {
    border: 3px solid steelblue;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    text-align: left;
    box-shadow: 5px 5px 10px rgba(44, 138, 209, 0.5);
}

.visited {
    background-color: aqua;
}